.container {
  border-radius: 10px;
  border-color: var(--darker-white-color);
  border-style: solid;
  border-width: 3px;
  max-width: 448px;
  font-size: 16px;
  color: var(--dark-color);
  font-weight: 400;
  padding: 24px;
}

.title {
  color: var(--dark-color);
  font-weight: 600;
}

.subtitle {
  color: var(--gray-color);

  line-height: 150%;
  margin-top: 8px;
}

.formGroup {
  margin-top: 24px;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.input,
.textarea {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--darker-white-color);
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
}

.textarea {
  min-height: 120px;
}

.bookingDateGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.errorMessage {
  color: red;
  font-size: 14px;
}
