.section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(36, 1, 1, 0.555);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  z-index: 1;
}

.content {
  color: var(--white-color);
  text-align: center;

  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.infoCards {
  display: flex;
  justify-content: space-between;
}

.infoCard {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animatedText span {
  color: var(--yellow-color);
  display: inline-block;
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}

.animatedText span:nth-child(1) {
  animation-delay: 0.2s;
}

.animatedText span:nth-child(2) {
  animation-delay: 0.4s;
  color: var(--red-color);
}

.animatedText span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
